<?xml version="1.0"?>
<launch>
	<rosparam file="$(find yumi_control)/config/traj_controllers.yaml" command="load" ns="/yumi"/>
	<arg name="arm_controllers" default="joint_state_controller
									 										 joint_traj_vel_controller_l
									 									   joint_traj_vel_controller_r"/>
	<arg name="yumi_states_topic" value="/yumi/joint_states"/>

	<rosparam command="load" file="$(find ridgeback_control)/config/control.yaml"/>
	<node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization" />
	<node pkg="topic_tools" type="relay" name="cmd_vel_relay" args="cmd_vel ridgeback_velocity_controller/cmd_vel" />
  <arg name="ridgeback_controllers" default="ridgeback_joint_publisher
																						 ridgeback_velocity_controller
        	  											 					 --shutdown-timeout 1" />
	<node name="ridgeback_controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="$(arg ridgeback_controllers)"/>
	<include file="$(find ridgeback_control)/launch/teleop.launch">
		<arg name="joystick" value="false"/>
	</include>
  <rosparam param="/gazebo_ros_control/pid_gains">
    front_left_wheel:
      p: 5
      i: 0.1
      d: 0
    front_right_wheel:
      p: 5
      i: 0.1
      d: 0
    rear_left_wheel:
      p: 5
      i: 0.1
      d: 0
    rear_right_wheel:
      p: 5
      i: 0.1
      d: 0
  </rosparam>

	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

	<!-- URDF / SRDF parameters -->
	<arg name="ridgeback_config" default="base" />
	<include file="$(find ridgeback_yumi_description)/launch/description.launch">
		<arg name="config" value="$(arg ridgeback_config)" />
	</include>

	<arg name="mode" default="robot" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find ridgeback_yumi_viz)/rviz/$(arg mode).rviz"/>

	<include file="$(find yumi_launch)/launch/yumi_gazebo_base.launch">
		<arg name="arm_controllers" value="$(arg arm_controllers)"/>
		<arg name="arms_hardware_interface" value="VelocityJointInterface"/>
		<arg name="use_rviz" value="false"/>
		<arg name="yumi_states_topic" value="$(arg yumi_states_topic)"/>
		<arg name="paused" value="false"/>
	</include>
</launch>
